<div class="container" style="max-width: 600px">
  <h2>Recuperar Contraseña</h2>
  <form action="/api/user/restore-password" method="POST">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        placeholder="Ingrese su Email"
        required
      />
    </div>
    
    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Enviar Email</button>
    </div>
  </form>
</div>